body {
  font-family: 'Gentium Basic', serif;
}
#roger {
  margin: auto;
  margin-bottom: 5px;
  margin-top: 15vh;
  width: 50vw;
  display: block;
}
#button {
  margin:auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 50vw;
  display:block;
}
#answerField {
  display: none;
  background-color: rgb(223, 26, 26);
  color: white;
  text-shadow: black 1px;
  border: 3px black;
  margin: auto;
  padding: 10px;
  width: 55vw;
  height: 25vh;
}
#numberInput {
  margin: auto;
  background-color: rgb(223, 26, 26);
  color: white;
  width: 50vw;
}
#numberInput::placeholder{
  color:white;
  opacity: 1;
}
.form-control:focus {
  border-color: rgb(223, 26, 26);
  box-shadow: 0 0 0 0.2rem rgba(223, 26, 26, 0.25);
}

